@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lobster&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

.light-theme{
  --background-color: #fff;
  --text-color: #000000;
}

.dark-theme{
  --text-color: #fff;
  --background-color: #000000;
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
  width:"100%"
}

.ImageGrid{
  column-count: 4;
  gap:"10px";
  padding: 20px;
}

.ImageGrid > *{
  break-inside: avoid;
}

.card{
  border: 1px solid #E5E5E5;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__details{
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #fff;
}

.card__details--upperbox{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.user__details{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user__name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user__instagram_id{
  font-size: 0.8rem;
}

.user__tags{
  padding: 2px;
  margin-inline: 3px;
  background-color: rgba(128, 128, 128, 0.263);
}
.header{
  display: flex;
  width: 100%;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: larger;
}

.search{
  display: flex;
  width: 70%;
  background-color: #E5E5E5;
  color: grey;
  padding: 5px 10px;
  align-items: center;
}

.search__input_field{
  width: 100%;
  border: none;
  outline: transparent;
}

@media screen and (max-width: 768px) {
  .header{
    display: flex;
    flex-direction: column;
  }
  .ImageGrid{
    column-count: 1;
  }
  .search{
    width: 100%;
    padding: 5px;
  }
}